[CoinMarketCap]
API_KEY = <your api key>

[Binance]
API_KEY = <your api key>
SECRET_KEY = <your secret key>

[Coinbase]
API_KEY = <your api key>
SECRET_KEY = <your secret key>

[BingX]
API_KEY = <your api key>
SECRET_KEY = <your secret key>

[ByBit]
API_KEY = <your api key>
SECRET_KEY = <your secret key>

[Gate]
API_KEY = <your api key>
SECRET_KEY = <your secret key>

[Networks]
ETHEREUM = <address 1>
           <address 2>
           <address 3>
SOLANA = <address 1>
         <address 2>
         <address 3>

[Manual Balances]
CSV_FILE = <path to your csv file>
