[CoinMarketCap]
API_KEY = <your api key>

[Binance]
API_KEY = <your api key>
SECRET_KEY = <your secret key>

[BingX]
API_KEY = <your api key>
SECRET_KEY = <your secret key>

[ByBit]
API_KEY = <your api key>
SECRET_KEY = <your secret key>

[Gate]
API_KEY = <your api key>
SECRET_KEY = <your secret key>

[Networks]
ETHEREUM = <ADDRESS 1>
           <ADDRESS 2>
           <ADDRESS 3>